
td.question {

    text-align: left;
    padding-left: 5%;
}

.cat-answers td
{
    paddinq: 10px 0;
    text-align: center;
    background: #2C3E50;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}